@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: rgb(170, 169, 169);
    width: 10vw;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.main{
    /* background-color: yellow; */
    width: 90vw;
}

.container{
    display: flex;
}

.infoContainer{
    /* background-color: rgb(202, 9, 128); */
    height: 78vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-size: 85px;
}

.name{
    font-size: 70px;
    font-weight: bold;
}

.about{
    font-size: 60px;
}

.devPic img{
    height: 78vh;
}

